{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Resultado do Sorteio</title>
</head>
<body>
    <h1>Resultado do Sorteio</h1>
    {% if pessoa_escolhida %}
        <p>O escolhido para comprar os biscoitos dia {{ pessoa_escolhida.data }} é: {{ pessoa_escolhida.nome }}</p>
        <table>
            <tr>
                <th>Data</th>
                <th>Nome</th>
            </tr>{% for pessoa_escolhida in pessoa_escolhidas %}
            <tr>
                <td>{{ pessoa_escolhida.data }}</td>
                <td>{{ pessoa_escolhida.nome }}</td>
            </tr>{% endfor %}
        </table>
    {% else %}
        <table>
            <tr>
                <th>Data</th>
                <th>Nome</th>
            </tr>
            <tr>{% for pessoa_escolhida in pessoa_escolhida %}
                <td>{{ pessoa_escolhida.data }}</td>
                <td>{{ pessoa_escolhida.nome }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
</body>
</html>
{% endblock %}